#list{
  list-style: none;
  width: 40%;
}

li{
  border-bottom: thin solid #888;
  margin: 1em 0;
}
li:hover {
  border-bottom: thin solid #000;
}

li::before{
  content: attr(id);
  margin: 0 .4em;
  color: grey;
}

.item-expiration-date {
  font-size: .7em;
  margin: auto 1em;
  color: grey;
}

.editing {
  border-top: thin solid green;
}

.info{
  padding: .5em;
  background-color: #666;
  color: #eee;
  text-align: center;
}
.repo, .app, .author { display: inline-block; width: 25%; }
.repo:hover a, .app:hover a, .author:hover a {
  border-bottom: thin solid red;
  padding: .2em;
}
.repo:hover a:hover, .app:hover a:hover, .author:hover a:hover {
  border-top: thin solid yellow;
}
.info .repo:hover::before { content: 'repo >'; }
.info .app:hover::before { content: 'app >'; }
.author { width: 48%; }
.info .author:hover::before { content: 'author >'; }
.info a { color: white; text-decoration: none; border-bottom: thin solid black; }
