#list{
  list-style: none;
  width: 40%;
}

li{
  border-bottom: thin solid #888;
  margin: 1em 0;
}
li:hover {
  border-bottom: thin solid #000;
}

li::before{
  content: attr(id);
  margin: 0 .4em;
  color: grey;
}

.item-expiration-date {
  font-size: .7em;
  margin: auto 1em;
  color: grey;
}
