header, section {
    text-align: center;
    margin-bottom: 5%;
}

#mock-form input[id="description"], #mock-form button{
  padding: 1em;
  width: 45%;
}
#mock-form button{ width: 10%; }

#list{
  margin: 4% 10%;
  list-style: none;
}

li{
  border-bottom: thin solid #888;
  margin: 1em 0;
}
li:hover {
  border-bottom: thin solid rgba(255, 0, 0, 0.4);
}

li::before{
  content: attr(id);
  margin: 0 .4em;
  color: grey;
}

.item-expiration-date {
  font-size: .7em;
  margin: auto 1em;
  color: grey;
}

.editing {
  border-top: thin solid green;
}

.info{
  padding: .5em;
  background-color: #999;
  color: #eee;
  text-align: center;
}
.repo, .app, .author { display: inline-block; width: 25%; }
.author { width: 48%; }

.repo:hover, .app:hover, .author:hover {
  border-right: thin solid white;
  border-left: thin solid white;
}

.repo:hover a, .app:hover a, .author:hover a {
  border-bottom: thin solid red;
  padding: .2em;
}
.repo:hover a:hover, .app:hover a:hover, .author:hover a:hover {
  border-top: thin solid yellow;
}

.repo:hover::before, .app:hover::before, .author:hover::before { content: attr(data-before); }

.info a { color: black; text-decoration: none; border-bottom: thin solid white; }
